<!doctype html>
<title>{% block title %}Unveiled{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<script src="{{url_for('static', filename='popper.min.js')}}"></script>
<script src="{{url_for('static', filename='jquery-3.4.1.min.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>

<script src="{{url_for('static', filename='bs-custom-file-input.min.js')}}"></script>

<script async defer src="https://buttons.github.io/buttons.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    bsCustomFileInput.init()
  })
</script>

{% if ga_track_id is defined %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_track_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', "{{ ga_track_id }}");
</script>
{% endif %}

<script>
$(document).ready(function() {
  /* Clicking on the quickstart-btn */
  $("#quickstart-btn").click(function() {
      // Reload page with query results
      $("#detect-by-query-btn").click();
  });
  $(".detection-btn").click(function() {

    $("#content-container").fadeOut("slow", function(){
      // Show animation
      $("#content-container").html(
        '<div class="spinner">\
          <div class="rect1"></div>\
          <div class="rect2"></div>\
          <div class="rect3"></div>\
          <div class="rect4"></div>\
          <div class="rect5"></div>\
        </div>\
        <div>Processing a random face image..</div>'
      ).fadeIn();
    });
  });

});
</script>

<div class="main">

  <div style="background-color: #ef215b; font-size:22px; font-weight: bold; padding: 1.2rem;">

    <div onclick="window.location.href='/';"style="margin-left: 40px; display: inline-block;">
      <span class="div_hover">Unveiled</span>
    </div>

    <div style="float:right; display: inline-block; margin-right: 50px;">
      <a class="github-button" href="https://github.com/greyzor/unveiled-deep-app" data-size="large" aria-label="Star greyzor/unveiled-deep-app on GitHub">Github</a>
    </div>

  </div>

  <header style="padding: 0.9rem;">
    <div class="div_hover" onclick="window.location.href='/';" style="margin-left: 80px; color: #f0f72c; font-weight: bold; display: inline-block;">
      &lt;Face Detection Module&gt;
    </div>
    {% block header %}{% endblock %}
  </header>

  <div class="module-container">
    <div style="height: 100%; width:30%; display:inline-block;">
      <div style="margin-left: 20px; margin-right: 20px; padding:1rem;">

      <!-- Nav tabs -->
      <div style="background-color: white;">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            {% if active_tab=="tab1" %}
            <a class="nav-link active" data-toggle="tab" href="#tab1">Load File</a>
            {% else %}
            <a class="nav-link" data-toggle="tab" href="#tab1" onclick="$('#inputGroupFile04').val(''); $('#inputGroupFile05').val('');">Load File</a>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if active_tab=="tab2" %}
            <a class="nav-link active" data-toggle="tab" href="#tab2">Browse Url</a>
            {% else %}
            <a class="nav-link" data-toggle="tab" href="#tab2" onclick="$('#inputGroupFile03').val(''); $('#inputGroupFile05').val('');">Browse Url</a>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if active_tab=="tab3" %}
            <a class="nav-link active" data-toggle="tab" href="#tab3">Browse by Theme</a>
            {% else %}
            <a class="nav-link" data-toggle="tab" href="#tab3" onclick="$('#inputGroupFile03').val(''); $('#inputGroupFile04').val('');">Browse by Theme</a>
            {% endif %}
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          {% if active_tab=="tab1" %}
          <div class="tab-pane container active" id="tab1">
          {% else %}
          <div class="tab-pane container fade" id="tab1">
          {% endif %}
            <form action="/face_det/?type=f" method="POST" enctype="multipart/form-data" class="mt-3">
              <div class="form-group row">
                <div class="col-sm-12">
                  <div class="input-group mt-3">
                    <div class="custom-file">
                      <input name="file" id="inputGroupFile03" type="file" class="custom-file-input">
                      <label class="custom-file-label" for="inputGroupFile03">Select a photo</label>
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-success mb-2 detection-btn">Process</button>
            </form>

          </div>

          {% if active_tab=="tab2" %}
          <div class="tab-pane container active" id="tab2">
          {% else %}
          <div class="tab-pane container fade" id="tab2">
          {% endif %}
            <form method="POST" enctype="multipart/form-data" class="mt-3">
              <div class="form-group row">
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="url" name="url_ext" value="{{url_ext}}" placeholder="Type a valid url here." id=id="inputGroupFile04" style="min-width: 100%">
                    </div>
                  </div>
                </div>
              </div>
              <button formaction="/face_det/?type=url" type="submit" class="btn btn-success mb-2 detection-btn">Process</button>
            </form>
          </div>

          {% if active_tab=="tab3" %}
          <div class="tab-pane container active" id="tab3">
          {% else %}
          <div class="tab-pane container fade" id="tab3">
          {% endif %}
            <form method="POST" enctype="multipart/form-data" class="mt-3">
              <div class="form-group row">
                <div class="col-sm-12">
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="text" name="query" placeholder="Query term here, example: face" value="{{query}}" id="inputGroupFile05" style="min-width: 100%">
                    </div>
                  </div>
                </div>
              </div>
              <button id="detect-by-query-btn" formaction="/face_det/?type=q" type="submit" class="btn btn-success mb-2 detection-btn">Process</button>
            </form>
          </div>

        </div>
      </div>

      </div>
    </div>

    <div id="content-container" style="width:70%; display:inline-block; background-color: #f4f4f4; margin:0; padding:2rem; text-align: center;">
      {% block content %}{% endblock %}
    </div>
  </div>

</div>