body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: white;
}

.div_hover:hover {
  background-color: #fff;
  cursor: pointer;
}

.main {
  display: flex; /* children can use property flex-grow to occupy all height */
  flex-direction: column;
  background-color: white;
  height: 100vh; /* set fixed size to full screen */
}

.module-container {
  flex-grow: 1; /* parent is flex, occupy all his height */
  display: flex; /* children will have display inline-block */
  background-color: #707070;
  margin:0;
  padding:0;
}

/*
 * Formatting the header area
 */
header {
  background-color: #404040;
  color: white;
  text-align: left;
}

img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/**
Opacity effect when hovering on images
**/
img:hover {
  opacity: .5;
}

/**
Spinner, inspired from:
https://tobiasahlin.com/spinkit/
**/
.spinner {
  margin: 100px auto;
  width: 75px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  min-height: 75px;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect1 {
  background-color: blue;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
  background-color: blue;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  background-color: blue;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}